@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

/* home */
.supply-drop {
    height: 50px;
}
/* navbar */
.supply-drop-logo {
    height: 35px;
    margin-top: 5px;
    /* padding-bottom: 5px;
    padding-right: 20px; */
}

.username {
    font-style: italic;
}
